body {
    background-image: url("images/t3.jpg");
    background-size: 1250px, 700px, auto;
}

.container {
    max-width: 400px;
    margin: 200px auto;
    padding: 20px;
    background: rgba(39, 42, 39, 0.8);
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

h1 {
    text-align: left;
    font-family: cursive;
    font-size: 35px;
    color: rgb(255, 255, 255);
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

button {
    padding-top: 2px;
    background-color: transparent;
    color: rgb(6, 8, 7);
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.completed.high-priority {
    padding-left: 150px;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.high-priority {
    color: rgb(243, 110, 110);
}

span {
    text-align: left;
    color: #8ecccc;
}

.button-group {
    text-align: right;
}